@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

html {
    font-size: 62.5%;

    @media only screen and (max-width: 48em) {
        font-size: 50%;
    }
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}