.toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
    height: 3rem;
    width: 3.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    z-index: 400;

    cursor: pointer;
    & > * {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      transition: all 0.3s;
    }

    &:focus {
      outline: none;
    }

    &__button {
      position: fixed;
      top: 0.7rem;
      right: 2rem;
      cursor: pointer;
      text-align: center;
      z-index: 600;
      height: 5rem;
    }

    &__checkbox {
      display: none;
      visibility: hidden;
    }

    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        margin-top: 10rem;
    }

    &__link {
      color: var(--dark-grey-1);
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 2rem 3rem;
      width: 100%;
      transition: all 0.3s ease;
      display: flex;

      & i {
          font-size: 3rem;
          margin-right: 1rem;
      }

      &:hover {
        background-color: var(--black-30);
        padding: 2rem 3rem;
        z-index: 400;
        width: 100%;
        color: white;
      }
    }

    &__background {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 300;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 70%;
      background-color: rgba(#fff, 0.8);
    }

    &__icon {
      position: relative;
      margin-top: 3.5rem;
      
      &--white {
        display: none;
      }

      &,
      &:before,
      &:after {
        width: 3rem;
        height: 2px;
        background-color: var(--dark-grey-1);
        display: inline-block;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }
      &:before {
        top: -0.8rem;
      }
      &:after {
        top: 0.8rem;
      }
    }
    &__checkbox:checked ~ &__button &__icon {
      background-color: transparent;
    }
    &__checkbox:checked ~ &__button &__icon:before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked ~ &__button &__icon:after {
      top: 0;
      transform: rotate(-135deg);
    } 
  }